<% include partials/header %>

<!--NAVABAR-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
    <div class="container">
        <!--Logo-->
        <h1 class="display-7">TEMPESTAS</h1>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--collapse menu-->
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <!--forcast-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#today" class="nav-link">Today</a>
                </li>
                <li class="nav-item">
                    <a href="#hourly" class="nav-link">Hourly</a>
                </li>
                <li class="nav-item">
                    <a href="#5-day" class="nav-link">5 Day</a>
                </li>
                <li class="nav-item">
                    <a href="#10-day" class="nav-link">10 Day</a>
                </li>
            </ul>
            <!--zipcode-->
            <form method="POST" action="/" class="form-inline ml-auto">
                <div class="form-group">
                    <input type="text" class="form-control form-control-md " name="zip_code" placeholder="Zipcode" required maxlength="5">
                    <button class="btn-primary m-2">Search</button>
                </div>
            </form>
        </div>
    </div>
</nav>

<!--SUMMARY-->
<section id="today">
    <div class="container">
        <div class="row p-5">
            <div class="col">
                <h1><%= geo.address_components.city%>, <%= geo.address_components.state %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card text-light bg-primary mb-3">
                        <div class="card-header">Summary</div>
                        <div class="card-body">
                            <h4 class="card-title"><%= json.currently.summary %></h4>
                        </div>
                    </div>
                    <div class="card text-light bg-primary mb-3">
                        <div class="card-header">Temperature</div>
                        <div class="card-body">
                            <h4 class="card-title"><%= Math.round(json.currently.temperature) %></h4>
                        </div>
                    </div>
                    <div class="card text-light bg-primary mb-3">
                        <div class="card-header">Feels Like</div>
                        <div class="card-body">
                            <h4 class="card-title"><%= Math.round(json.currently.apparentTemperature) %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card text-light bg-primary mb-3">
                        <div class="card-header">High/Low</div>
                        <div class="card-body">
                            <h4 class="card-title"><%= Math.round(json.daily.data[0].temperatureHigh)%> / <%=Math.round(json.daily.data[0].temperatureLow)%></h4>
                        </div>
                    </div>
                    <div class="card text-light bg-primary mb-3">
                        <div class="card-header">Chance</div>
                        <div class="card-body">
                            <h4 class="card-title"><%= json.currently.precipProbability * 100 %>%</h4>
                        </div>
                    </div>
                    <div class="card text-light bg-primary mb-3">
                        <div class="card-header">Humidity</div>
                        <div class="card-body">
                            <h4 class="card-title"><%= json.currently.humidity * 100 %>%</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>